* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  background: #232946;
  color: #fffffe;
}
.app {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #eebbc3;
  padding: 10px;
  min-height: 200px;
  border-radius: 5px;
  &__item {
    color: #fffffe;
    border: 1px solid #b8c1ec;
    padding: 10px;
    cursor: move;

    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
  }
}
